@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

p {
  color: #9095a7;
  font-size: 14px;
  font-weight: 500;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.btn-orange {
  border: none;
  background: none;
  cursor: pointer;
  padding: 11px 1.7rem;
  border-radius: 1.3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #f25f3a;
  color: #fafafa;
  -webkit-box-shadow: 0px 14px 16px -12px #f25f3a;
          box-shadow: 0px 14px 16px -12px #f25f3a;
}

.btn-orange:focus {
  outline: none;
}

.btn-orange:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.btn-white {
  border: none;
  background: none;
  cursor: pointer;
  padding: 11px 1.7rem;
  border-radius: 1.3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #fafafa;
  color: #f25f3a;
}

.btn-white:focus {
  outline: none;
}

.btn-white:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.btn-white:hover {
  -webkit-filter: opacity(1) brightness(170%);
          filter: opacity(1) brightness(170%);
}

.btn-go {
  border: none;
  background: none;
  cursor: pointer;
  padding: 11px 1.7rem;
  border-radius: 1.3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #f25f3a;
  padding: 9px 1.4rem;
  color: #ffefeb;
}

.btn-go:focus {
  outline: none;
}

.btn-go:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.btn-go:hover {
  -webkit-filter: opacity(1) brightness(150%);
          filter: opacity(1) brightness(150%);
}

input {
  border: 1px solid #fff;
  border-radius: 1.3rem;
  padding: 9px 13px;
  margin-right: 5px;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  font-family: 'Be Vietnam', sans-serif;
}

input:-ms-input-placeholder {
  font-family: 'Be Vietnam', sans-serif;
}

input::-ms-input-placeholder {
  font-family: 'Be Vietnam', sans-serif;
}

input::placeholder {
  font-family: 'Be Vietnam', sans-serif;
}

@media screen and (max-width: 1150px) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: auto;
    margin: 0 2rem;
  }
}

header {
  margin-top: 1.1rem !important;
  position: relative;
}

header .logo {
  cursor: pointer;
  margin-top: 14px;
}

header .hamburger, header .close {
  display: none;
  cursor: pointer;
}

header nav ul li {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 700;
}

header nav ul li a {
  color: #242d52;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header nav ul li a:hover {
  color: #9095a7;
}

@media screen and (max-width: 800px) {
  header .logo {
    width: 120px;
  }
  header .hamburger {
    display: block;
  }
  header .show-navbar {
    display: block !important;
  }
  header .show-close {
    display: block !important;
  }
  header nav {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    z-index: 999999;
    top: 4rem;
    display: none;
    -webkit-box-shadow: 0px 300px 223px 300px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 300px 223px 300px rgba(0, 0, 0, 0.25);
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
  }
  header nav ul li {
    padding: 1rem 0;
  }
  header nav ul li a {
    font-size: 1.1rem;
  }
  header .btn-orange {
    display: none;
  }
}

.header-intro {
  margin-top: 4.5rem;
}

.header-intro .header-intro-info {
  position: relative;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.header-intro .header-intro-info .mobile-pattern {
  display: none;
  position: absolute;
  z-index: -1;
}

.header-intro .header-intro-info h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 4.2rem;
  font-weight: 700;
  color: #242d52;
}

.header-intro .header-intro-info p {
  width: 50%;
  margin: 1.5rem 0;
  line-height: 1.4rem;
}

.header-intro .header-intro-charts {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  margin-right: -1.1rem;
}

.header-intro .header-intro-charts .orange-pattern {
  position: absolute;
  width: 40rem;
  top: -80px;
  right: -50px;
  -webkit-transform: translate(27%, -30%);
          transform: translate(27%, -30%);
  z-index: -1;
}

@media screen and (max-width: 1150px) {
  .header-intro .header-intro-info h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .header-intro .header-intro-info p {
    width: 70%;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 950px) {
  .header-intro .header-intro-info {
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
  .header-intro .header-intro-info h1 {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

@media screen and (max-width: 800px) {
  .header-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header-intro .header-intro-info {
    width: 375px;
    text-align: center;
  }
  .header-intro .header-intro-info .mobile-pattern {
    display: block;
    width: 30rem;
    right: -120%;
    bottom: -35%;
  }
  .header-intro .header-intro-info h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .header-intro .header-intro-info p {
    width: 90%;
    line-height: 1.6rem;
    margin: 1rem auto;
  }
  .header-intro .header-intro-charts {
    margin: 0 !important;
  }
  .header-intro .header-intro-charts .orange-pattern {
    width: 40rem;
    top: -60px;
    right: -50px;
  }
}

@media screen and (max-width: 670px) {
  .header-intro .header-intro-charts .orange-pattern {
    width: 35rem;
    top: -40px;
    right: -30px;
  }
}

@media screen and (max-width: 450px) {
  .header-intro .header-intro-info {
    width: auto;
  }
  .header-intro .header-intro-info .mobile-pattern {
    width: 18rem;
    right: -55%;
    bottom: -35%;
  }
  .header-intro .header-intro-charts .orange-pattern {
    width: 30rem;
    top: -120px;
    right: -60px;
  }
}

.different {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4rem;
  position: relative;
}

.different .bg-orange {
  position: absolute;
  width: 40rem;
  z-index: -1;
  top: 60%;
  left: -45%;
}

.different .different-info {
  -ms-flex-negative: 4;
      flex-shrink: 4;
}

.different .different-info h1 {
  color: #242d52;
  font-size: 2.6rem;
  margin: 0;
}

.different .different-info p {
  width: 50%;
  line-height: 1.4rem;
}

.different .different-elements {
  -ms-flex-negative: 8;
      flex-shrink: 8;
}

.different .different-elements .different-element {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.different .different-elements .different-element div .btn-orange-mobile {
  display: none;
}

.different .different-elements .different-element .btn-orange {
  cursor: auto;
  margin: 14px 1rem 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 1.3rem;
}

.different .different-elements .different-element .btn-orange:hover {
  -webkit-filter: none;
          filter: none;
}

.different .different-elements .different-element h3 {
  color: #242d52;
  font-weight: 700;
  font-size: 15px;
}

@media screen and (max-width: 1150px) {
  .different .bg-orange {
    top: 50%;
    left: -50%;
  }
  .different .different-info {
    -ms-flex-negative: 5;
        flex-shrink: 5;
  }
  .different .different-info p {
    width: 60%;
  }
}

@media screen and (max-width: 950px) {
  .different .bg-orange {
    left: -60%;
  }
  .different .different-info {
    -ms-flex-negative: 7;
        flex-shrink: 7;
  }
  .different .different-info h1 {
    font-size: 2.5rem;
  }
  .different .different-info p {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .different {
    margin-top: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .different .bg-orange {
    display: none;
  }
  .different .different-info {
    text-align: center;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .different .different-info h1 {
    font-size: 2rem;
  }
  .different .different-info p {
    width: 100%;
  }
  .different .different-elements {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .different .different-elements .different-element {
    margin: 2rem 0;
    display: block;
  }
  .different .different-elements .different-element .hide-mobile {
    display: none;
  }
  .different .different-elements .different-element div .btn-orange-mobile {
    display: inline-block;
    margin: 0;
    position: relative;
    left: -5px;
  }
  .different .different-elements .different-element h3 {
    background: #ffefeb;
    padding: 0px;
    position: relative;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    margin-left: 7px;
    width: 110%;
  }
  .different .different-elements .different-element p {
    line-height: 1.6rem;
  }
}

.testimonials {
  text-align: center;
  padding-bottom: 1.1rem;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
}

.testimonials .dots {
  display: none;
  margin-bottom: 1rem;
}

.testimonials .dots .active {
  background: #f25f3a;
}

.testimonials .dots .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background: transparent;
  border: 2px solid #f25f3a;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.testimonials h1 {
  color: #242d52;
  font-size: 2rem;
}

.testimonials .slider {
  padding: 5rem 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.testimonials .slider::-webkit-scrollbar {
  display: none;
}

.testimonials .slider > .person {
  scroll-snap-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35%;
  height: 200px;
}

.testimonials .slider .person {
  background: #fafafa;
  margin: 0 1.3rem;
  padding: 0 20px;
}

.testimonials .slider .person .profile {
  position: relative;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
}

.testimonials .slider .person .info {
  position: relative;
  top: -30px;
}

@media screen and (max-width: 950px) {
  .testimonials .slider .person {
    width: 40%;
  }
  .testimonials .slider .person .info {
    top: -3rem;
  }
}

@media screen and (max-width: 800px) {
  .testimonials .dots {
    display: block;
  }
  .testimonials .btn-orange {
    margin-top: 2rem;
  }
  .testimonials .slider > .person {
    width: 90%;
    padding: 0 2rem;
    height: 220px;
  }
  .testimonials .slider > .person .info p {
    line-height: 1.6rem;
  }
}

.simplify {
  background: url("../images/bg-simplify-section-desktop.svg") 7rem -8rem no-repeat #f25f3a;
  color: #fafafa;
  padding: 1.7rem 0;
  margin-top: 6rem;
}

.simplify .container .text h1 {
  font-size: 2.2rem;
  width: 70%;
  line-height: 2.5rem;
}

@media screen and (max-width: 1150px) {
  .simplify {
    background: url("../images/bg-simplify-section-desktop.svg") center no-repeat #f25f3a;
  }
}

@media screen and (max-width: 800px) {
  .simplify {
    background: url("../images/bg-simplify-section-mobile.svg") 0 50% no-repeat #f25f3a;
    padding: 4.5rem 0;
    margin-top: 2rem;
  }
  .simplify .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .simplify .container .btn-white {
    margin-top: 1rem;
  }
  .simplify .container .text h1 {
    width: 90%;
    margin: 0 auto 1rem;
    line-height: 3rem;
  }
}

footer {
  background: #1d1e25;
  padding: 2.5rem 0;
}

footer .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .social {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .container .social .copyright {
  display: none;
}

footer .container .social .logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin: 0 5px;
  cursor: pointer;
}

footer .container .social .social-icons {
  margin-top: 4rem;
}

footer .container .social .social-icons i {
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #fafafa;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

footer .container .social .social-icons i:hover {
  color: #f25f3a;
}

footer .container .footer-nav {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

footer .container .footer-nav ul {
  margin: 0;
  padding: 0;
}

footer .container .footer-nav ul li {
  font-size: 14px;
  padding: 5px 0;
}

footer .container .footer-nav ul li a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #fafafa;
}

footer .container .footer-nav ul li a:hover {
  color: #f25f3a;
}

footer .container .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

footer .container .form .error {
  border: 1px solid red;
  color: red;
}

footer .container .form .error::-webkit-input-placeholder {
  color: red;
}

footer .container .form .error:-ms-input-placeholder {
  color: red;
}

footer .container .form .error::-ms-input-placeholder {
  color: red;
}

footer .container .form .error::placeholder {
  color: red;
}

footer .container .form .error-message {
  color: red !important;
  position: absolute;
  left: 40%;
  top: -18%;
  display: none;
}

footer .container .form .show-error-message {
  display: block;
}

footer .container .form .copyright {
  color: #9095a7;
  margin-top: 4rem;
  font-size: 11px;
}

footer .container .form form {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
  }
  footer .container .form .error-message {
    font-size: 12px;
    left: 3%;
    top: 100%;
  }
  footer .container .form form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  footer .container .form form input {
    width: 90%;
  }
  footer .container .form form .btn-go {
    padding: 10px 1.4rem;
  }
  footer .container .form .copyright {
    margin: 0;
    display: none;
  }
  footer .container .footer-nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    padding: 2rem 1.5rem;
  }
  footer .container .social {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .container .social .logo {
    margin: 2.4rem auto;
  }
  footer .container .social .copyright {
    text-align: center;
    color: #9095a7;
    font-size: 11px;
    display: block;
  }
  footer .container .social .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: auto;
  }
  footer .container .social .social-icons i {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */