@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

p {
  color: #9095a7;
  font-size: 14px;
  font-weight: 500;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-orange {
  border: none;
  background: none;
  cursor: pointer;
  padding: 11px 1.7rem;
  border-radius: 1.3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #f25f3a;
  color: #ffefeb;
  -webkit-box-shadow: 0px 14px 16px -12px #f25f3a;
          box-shadow: 0px 14px 16px -12px #f25f3a;
}

.btn-orange:focus {
  outline: none;
}

.btn-orange:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.btn-white {
  border: none;
  background: none;
  cursor: pointer;
  padding: 11px 1.7rem;
  border-radius: 1.3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #fff;
  color: transparent;
}

.btn-white:focus {
  outline: none;
}

.btn-white:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.btn-go {
  border: none;
  background: none;
  cursor: pointer;
  padding: 11px 1.7rem;
  border-radius: 1.3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #f25f3a;
  color: #ffefeb;
}

.btn-go:focus {
  outline: none;
}

.btn-go:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

header {
  margin-top: 1rem !important;
}

header .logo {
  cursor: pointer;
}

header nav ul li {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 700;
}

header nav ul li a {
  color: #242d52;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header nav ul li a:hover {
  color: #9095a7;
}

.header-intro {
  margin-top: 3rem;
}

.header-intro .header-intro-info {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.header-intro .header-intro-info h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 4.2rem;
  font-weight: 700;
  color: #242d52;
}

.header-intro .header-intro-info p {
  width: 50%;
  margin: 1.5rem 0;
  line-height: 1.4rem;
}

.header-intro .header-intro-charts {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.header-intro .header-intro-charts .orange-pattern {
  position: absolute;
  width: 40rem;
  top: -80px;
  right: -50px;
  -webkit-transform: translate(27%, -30%);
          transform: translate(27%, -30%);
  z-index: -1;
}

.different {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4rem;
}

.different .different-info {
  -ms-flex-negative: 4;
      flex-shrink: 4;
}

.different .different-info h1 {
  color: #242d52;
  font-size: 2.6rem;
  margin: 0;
}

.different .different-info p {
  width: 70%;
}

.different .different-elements {
  -ms-flex-negative: 8;
      flex-shrink: 8;
}

.different .different-elements .different-element {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.different .different-elements .different-element .btn-orange {
  cursor: auto;
  margin: 14px 1rem 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 1.3rem;
}

.different .different-elements .different-element .btn-orange:hover {
  -webkit-filter: none;
          filter: none;
}

.different .different-elements .different-element h3 {
  color: #242d52;
  font-weight: 700;
  font-size: 15px;
}

.testimonials {
  border: 1px solid orangered;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */