footer {
  background: $very-dark-blue;
  padding: 2.5rem 0;
  .container {
    align-items: flex-start;
    .social {
      flex-grow: 1;
      .logo {
        filter: brightness(0) invert(1);
        margin: 0 5px;
      }
      .social-icons{
          margin-top: 4rem;
          i{
            margin: 0 5px;
            cursor: pointer;
            font-size: 1.4rem;
            color: $very-light-gray;
            transition: 0.4s ease-in-out;
            &:hover{
                color: $bright-red;
            }
          }
      }
    }
    .footer-nav {
      align-items: flex-start;
      flex-grow: 2;
      ul {
        margin: 0;
        padding: 0;
        li {
          font-size: 14px;
          padding: 5px 0;
          a {
            transition: 0.4s ease-in-out;
            color: $very-light-gray;
            &:hover {
              color: $bright-red;
            }
          }
        }
      }
    }
    form {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}
