.simplify {
  background: url("../images/bg-simplify-section-desktop.svg") 7rem -8rem no-repeat $bright-red;
  color: $very-light-gray;
  padding: 1.7rem 0;
  margin-top: 6rem;
  .container {
    .text {
      h1 {
        font-size: 2.2rem;
        width: 70%;
        line-height: 2.5rem;
      }
    }
  }
}
