.testimonials {
  text-align: center;
  padding-bottom: 1.1rem;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  .dots {
    display: none;
    margin-bottom: 1rem;
    .active{
      background: $bright-red;
    }
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background: transparent;
      border: 2px solid $bright-red;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.4s ease;
    }
  }
  h1 {
    color: $dark-blue;
    font-size: 2rem;
  }
  .slider {
    padding: 5rem 0 10px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    //disable view of scrollbar in desktop devices
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    & > .person {
      scroll-snap-align: center;
      flex-shrink: 0;
      width: 35%;
      height: 200px;
    }
    .person {
      background: $very-light-gray;
      margin: 0 1.3rem;
      padding: 0 20px;
      .profile {
        position: relative;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
      }
      .info {
        position: relative;
        top: -30px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .testimonials {
    .slider {
      .person {
        width: 40%;
        .info {
          top: -3rem;
        }
      }
    }
  }
}

@media screen and(max-width:800px) {
  .testimonials {
    .dots {
      display: block;
    }
    .btn-orange{
      margin-top: 2rem;
    }
    .slider {
      & > .person {
        width: 90%;
        padding: 0 2rem;
        height: 220px;
        .info{
          p{
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}
