@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

//primary-colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue:hsl(228, 39%, 23%);

//neutral-colors
$dark-grayish-blue:hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray:hsl(0, 0%, 98%);

img{
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

p{
    color:$dark-grayish-blue;
    font-size: 14px;
    font-weight: 500;
}

//clearing default settings
ul{
    li{
        list-style-type:none;
        a{
            text-decoration: none;
        }
    }
}

//flex classes
@mixin flex(){
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flex-horizontal{
   @include flex();
}

.flex-vertical{
    @include flex();
    flex-direction: column;
}

//button classes
@mixin button(){
    border: none;
    background: none;
    cursor: pointer;
    padding: 11px 1.7rem;
    border-radius: 1.3rem;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 12px;
    font-weight: 700;
    transition: 0.4s ease-in-out;
    &:focus{
        outline: none;
    }
    &:hover{
        filter: opacity(0.7)
    }
}

.btn-orange{
    @include button();
    background: $bright-red;
    color: $very-light-gray;
    box-shadow: 0px 14px 16px -12px $bright-red;
}

.btn-white{
    @include button();
    background: $very-light-gray;
    color: $bright-red;
    &:hover{
        filter: opacity(1) brightness(170%);
    }
}

.btn-go{
    @include button();
    background: $bright-red;
    color: $very-pale-red;
}